{% extends 'base.html' %} 

{% block body %}

<div>
    <div>
        <h1>URL Shortener</h1>
    </div>
    <div>
        <form method="POST">
          {% csrf_token %}
            <div>{{form.long_url}}</div>
            <div><button type="submit">Submit</button></div>
        </form>
    </div>
    <div>
      {% if messages %}
        {% for message in messages %}
            <section id="alert"><a href="{{ message }}">{{ message }}</a></section>
        {% endfor %}
    {% endif %}
    </div>
</div>

  <!-- {% if new_url %}

  <div>
    <h2>Your shortened Url</h2>
    <p>{{new_url}}</p>
  </div>
  {% endif %} -->
</div>
{% endblock body %}